@font-face {
  font-family: "Iosevka";
  src: url("./fonts/IosevkaNerdFont-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#root {
  font-family: "Iosevka";
  font-size: 24px;
  font-feature-settings: "liga" 1;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0 auto;
}
